<h1>Vendor Spotlight</h1>

<p> Airtable API Call </p>

<p> Run CSS animations </p>

<p> Logo </p>

<p> Thumbnail</p>

<p> Company </p>

<p> Market </p>

<p> Founder </p>

<p> Description </p>

<p> Website </p>

<p> Phone </p>

<p> Store Location in Market</p>

<p> Hometown </p>

<p>
    Target Market: Stonecrest, Decatur, Conyers, Stone Mountain, Doraville
</p>